.c-footer {
    @include font-size(1.5);
    grid-column: bleed-start / bleed-end;
    background-color: #cccccc;
    padding: $global-spacing-unit-large 0;
}

.c-footerinner {
    grid-column: main-start / main-end;
    display: grid;
}

.c-footerlogo {
    grid-column: 1 / span 4;
    margin-bottom: $global-spacing-unit-small;

    @include media('>tablet') {
        grid-column: 1 / span 2;
        margin-bottom: 0;
    }

    svg {
        max-width: 100%;
    }
}

.c-footer-links {
    grid-column: 1 / span 12;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media('>tablet') {
        grid-column: 3 / span 12;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;

        @include media('>tablet') {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
        }
    }

    li {
        display: inline-block;
    }

    li {
        margin-right: 1rem;

        &:last-of-type {
            margin: 0;
        }
    }
}
